---
import { TOP_NAV } from "@/config/header.config";
import { WARNING } from "@/helpers/config/console";

const topNavVisibilityCheck =
  [
    TOP_NAV.logo?.visible,
    TOP_NAV.menu?.visible,
    TOP_NAV.actions?.visible,
  ].filter(Boolean).length >= 2;
---

{
  topNavVisibilityCheck ? (
    <div class="nav-two-columns">
      <div class="nav-left">left</div>

      <div class="nav-right">right</div>
    </div>
  ) : (
    <>
      {console.warn(WARNING.TOP_NAV_REQUIRES_TWO_VISIBLE_ELEMENTS)}
      <span>WARNING-CN: 请查看 console 的警告内容。</span>
      <span>WARNING-EN: Please check the console for warnings.</span>
    </>
  )
}

<style>
  .nav-two-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
