# build output
.astro/
dist/

# content
# 内容
content/
tree.md

# ignore top-level vscode settings
/.vscode/settings.json

# dependencies
bun.lock
node_modules/
package-lock.json
package-lock.lock
pnpm-workspace.yaml
yarn.lock

# logs
.pnpm-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Cached requests
.cache

# IDE environments
.idea/
.nanorc
.stackblitzrc
.vimrc
.vscode/
sandbox.config.json
