---
import { TOP_NAV } from "@/content/header.config";
import { WARNING } from "@/helpers/config/console";

const topNavVisibilityCheck =
  TOP_NAV.logo?.visible && TOP_NAV.menu?.visible && TOP_NAV.actions?.visible;
---

{
  topNavVisibilityCheck ? (
    <div class="nav-three-columns">
      <div class="nav-left">left</div>

      <div class="nav-center">center</div>

      <div class="nav-right">right</div>
    </div>
  ) : (
    <>
      {console.warn(WARNING.TOP_NAV_REQUIRES_THREE_VISIBLE_ELEMENTS)}
      <span>WARNING-CN: 请查看 console 的警告内容。</span>
      <span>WARNING-EN: Please check the console for warnings.</span>
    </>
  )
}

<style>
  .nav-three-columns {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  .nav-left {
    grid-column: 1;
  }
  .nav-center {
    grid-column: 2;
  }
  .nav-right {
    grid-column: 3;
    justify-self: end;
  }
</style>
