---

---

<div class="nav-two-columns">
  <div class="nav-left">
  </div>

  <div class="nav-right">
  </div>
</div>

<style>
  .nav-two-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
