:root {
  --font-size--2: clamp(0.4444rem, 0.7026rem + -0.3129vw, 0.64rem);
  --font-size--1: clamp(0.6667rem, 0.8427rem + -0.2133vw, 0.8rem);
  --font-size-0: clamp(1rem, 1rem + 0vw, 1rem);
  --font-size-1: clamp(1.25rem, 1.17rem + 0.4vw, 1.5rem);
  --font-size-2: clamp(1.5625rem, 1.3425rem + 1.1vw, 2.25rem);
  --font-size-3: clamp(1.9531rem, 1.4981rem + 2.275vw, 3.375rem);
  --font-size-4: clamp(2.4414rem, 1.6027rem + 4.1938vw, 5.0625rem);
  --font-size-5: clamp(3.0518rem, 1.5983rem + 7.2672vw, 7.5938rem);
}

body {
  width: 100%;
  font-size: var(--font-size-0);
}

.font-size-5 {
  font-size: var(--font-size-5);
}

.font-size-4 {
  font-size: var(--font-size-4);
}

h1,
.font-size-3 {
  font-size: var(--font-size-3);
}

h2,
.font-size-2 {
  font-size: var(--font-size-2);
}

h3,
.font-size-1 {
  font-size: var(--font-size-1);
}

h4,
.font-size-0 {
  font-size: var(--font-size-0);
}

.font-size--1 {
  font-size: var(--font-size--1);
}

.font-size--2 {
  font-size: var(--font-size--2);
}
