---
import '@/styles/global.css';
import '@/styles/custom.css';
import { CONFIG } from '@/content/custom';
import { ViewTransitions } from 'astro:transitions';

const { title, description } = Astro.props;
const favicon = CONFIG.FAVICON ? CONFIG.FAVICON : 'favicon.ico';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

{/* Global Metadata */}
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1' />
<link rel='icon' href={ favicon } />
<link rel='sitemap' href='/sitemap-index.xml' />
<title>{title}</title>
<meta name='description' content={description} />

{/* hreflang */}
<link rel="alternate" hreflang={ CONFIG.DEFAULT_LOCALE } href={ canonicalURL } />
<link rel='alternate' hreflang='x-default' href={ canonicalURL } />
<link rel='canonical' href={ canonicalURL } item-prop='url' />

{
  // 是否启用视图过渡动画
  // Use view transitions
  CONFIG?.VIEW_TRANSITIONS && <ViewTransitions />
}
